@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 
  'sage-wisdom': {
    
    
  } 
  
  'honey-gold': {
    
  },
*/
        

:root {
  --background: oklch(97.51% 0.00163 148.741); 
  --foreground: oklch(27.965% 0.03166 144.717);
  --card:  oklch(97.51% 0.00163 148.741); 
  --card-foreground: oklch(27.965% 0.03166 144.717);
  --popover:  oklch(97.51% 0.00163 148.741); 
  --popover-foreground: oklch(27.965% 0.03166 144.717);
  --primary: oklch(60.361% 0.05261 144.949);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(89.834% 0.01371 145.807);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(89.834% 0.01371 145.807);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(89.834% 0.01371 145.807);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(89.834% 0.01371 145.807);
  --input: oklch(89.834% 0.01371 145.807);
  --ring: oklch(80.969% 0.02289 145.547);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(49.736% 0.05488 144.742);
  --sidebar-foreground: oklch(27.965% 0.03166 144.717);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(83.685% 0.16435 84.431);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);
}

.dark {
  --background: oklch(27.965% 0.03166 144.717);
  --foreground: oklch(97.51% 0.00163 148.741);
  --card: oklch(27.965% 0.03166 144.717);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(27.965% 0.03166 144.717);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(27.965% 0.03166 144.717);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(49.736% 0.05488 144.742)
  
  
  
  
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sage-50: oklch(97.51% 0.00163 148.741);
  --color-sage-100: oklch(95.202% 0.00503 146.538);
  --color-sage-200: oklch(89.834% 0.01371 145.807);
  --color-sage-300: oklch(27.965% 0.03166 144.717);
  --color-sage-400: oklch(70.482% 0.03457 145.304);
  --color-sage-500: oklch(60.361% 0.05261 144.949);
  --color-sage-600: oklch(49.736% 0.05488 144.742);
  --color-sage-700: oklch(38.94% 0.04053 148.717);
  --color-sage-800: oklch(27.965% 0.03166 144.717);
  --color-honey-50: oklch(98.688% 0.02129 95.306);
  --color-honey-100: oklch(96.19% 0.05793 95.632);
  --color-honey-200: oklch(92.427% 0.11504 95.756);
  --color-honey-300: oklch(87.896% 0.15335 91.611);
  --color-honey-400: oklch(83.685% 0.16435 84.431);
  --color-honey-500: oklch(76.858% 0.1646 70.075);
  --color-honey-600: oklch(66.583% 0.15738 58.309);
  --color-honey-700: oklch(55.527% 0.14548 48.986);
  --color-honey-800: oklch(47.318% 0.12468 46.188);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
